<!DOCTYPE html>
<html lang="en">

<head>
    <title>Node JS Express Form Submission Example - ItSolutionStuff.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
    <div class="container">
        <h1>Node JS Express Form Submission Example - ItSolutionStuff.com</h1>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="siteKey">site key</label>
                <input type="text" class="form-control" id="siteKey" placeholder="Enter Sitekey" name="site_key">
            </div>
            <div class="form-group">
                <label for="modulName">module</label>
                <input type="text" class="form-control" id="moduleName" placeholder="Enter Module" name="module_name">
            </div>
            <div class="form-group">
                <label for="startDate">start date</label>
                <input type="date" class="form-control" id="startDate" name="start_date">
            </div>
            <div class="form-group">
                <label for="endtDate">end date</label>
                <input type="date" class="form-control" id="endDate" name="end_date">
            </div>
            <div class="form-group">
                <label for="experienceId">experience Id</label>
                <input type="text" class="form-control" id="experienceId" placeholder="Enter experience Id" name="experience_id">
            </div>
            <div class="form-group">
                <label for="experimentId">experience Id</label>
                <input type="text" class="form-control" id="experimentId" placeholder="Enter experiment Id" name="experiment_id">
            </div>
            <div class="form-group">
                <label for="experimentGroup">experience Id</label>
                <input type="text" class="form-control" id="experimentGroup" placeholder="Enter experiment Id" name="experiment_group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>

</html>